# Render te dará un DATABASE_URL con SSL. Pégalo aquí si corres local.
DATABASE_URL=postgresql://user:pass@host:5432/restaurante_ordenes_db?sslmode=require
# Render asigna PORT automáticamente. No lo definas en Render.
PORT=10000
